body  {
  background-color: snow;
}

h1  {
  font-family: 'Francois One', sans-serif;
  text-align: center;
  font-size: 5em;
  padding-top: 10%;
}

h4 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.quote {
  font-family: 'Old Standard TT', serif;
}

.top-nav {
  text-align: right;
  padding-right: 28%;
  padding-top: 5%;
}

.left-bar {
  border-right: 1px solid grey;
  width: 14%;
  height: 350vh;
  float:left;
  z-index: 6;
  position: relative;
}

.center-box {
  width: 60%;
  height: 150vh;
  float:left;
  padding-left: 2%;
}



.right-bar {
  width: 2%;
  height: 50em;
  background-color: black;
  margin-top: 60vh;
  float:right;
  margin-right: 15%;
}

.clear {
  float: none;
}

.headline {
  margin-bottom: 20em;
}

.horizontal {
  left: -6em;
  width: 125.9%; 
  height: 80%;
  border-top: 1px solid grey;
  z-index: 2;
  position: relative;
  background-color: gainsboro;
}

.design-label {
  border: 1px solid black;
  padding: 1%;
  width: 25%;
  z-index: 3;
  position: relative;
  top: 4em;
}

.footer {
  width: 107%;
  height: 20em;
  bottom: 0;
/*  left: -5px;
*/  background-color: darkgrey;
/*  margin-top: 80%;*/
  padding: 2%;
  }

.footer-left {
  float: left;
  width: 30%;
}

.footer-center {
  float: left;
  width: 30%;
  border-left: 1px solid black;
  padding-left: 2%;
}

.footer-right {
  float:left;
  overflow: none;
  width: 30%;
  border-left: 1px solid black;
  padding-left: 2%;
}

