body  {
  background-color: lightblue;
}

h1  {
  font-family: 'Francois One', sans-serif;
  text-align: center;
  font-size: 5em;
  padding-top: 10%;
}

h4 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
}

.quote {
  font-family: 'Old Standard TT', serif;
}

.top-nav {
  text-align: right;
  padding-right: 28%;
  padding-top: 5%;
}

.wrapper {
  border-left: 1px solid grey;
  width: 60%;
  height: 150vh;
  float:left;
  margin-left: 10%;
}

.right-bar {
  width: 2%;
  height: 20em;
  background-color: black;
  margin-top: 60vh;
  float:right;
  margin-right: 15%;
}

.clear {
  float: none;
}

.headline {
  margin-bottom: 20em;
}

hr  {
  z-index: 5;
  width: 100%;
/*  position: fixed;*/
}

.design-label {
  border: 1px solid black;
  padding: 1%;
  width: 25%;
  margin-left: 10%;
}

/*hr {
    transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    padding-left: 50px;
}*/

